# Note: the script expects cnc-monitoring user and group to exist
# To add them:
# useradd -r -s /bin/false cnc-monitoring

[Unit]
Description=MariaDB TSCL Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/mariadb-tscl/bin/mariadb-tscl start /opt/mariadb-tscl/conf/conf.json
Restart=on-failure
User=cnc-monitoring
Group=cnc-monitoring

[Install]
WantedBy=multi-user.target

