[Unit]
Description=MariaDB TSCL Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/mariadb-tscl/bin/mariadb-tscl start /opt/mariadb-tscl/conf/conf.json
Restart=on-failure
# useradd -r -s /bin/false cnc-monitoring
# groupadd cnc-monitoring
# usermod -a -G cnc-monitoring cnc-monitoring
User=cnc-monitoring
Group=cnc-monitoring

[Install]
WantedBy=multi-user.target